@import "./main.css";
@import "./typography.css";

@layer utilities {
  .app-container {
    max-width: 85%;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .app-container {
      max-width: 80%;
    }
  }
}
